<!-- Jumbotron -->
<div class="jumbotron p-0">

  <!-- Card image -->
  <div class="view overlay rounded-top waves-light zoom" mdbWavesEffect>
    <img src="./assets/mapa.png" class="img-fluid" alt="Sample image">
    <a >
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>Localização</strong></h3>
    <!-- Text -->
    <p class="card-text py-2">5 km de distância da rodoviária. <br> TO 050 Direção Taquaralto, <br>  Primeiro retorno após o Atacadão <br> Entrada sinalizada à direita </p>
    <!-- Button -->
    <a mdbBtn gradient="purple" rounded="true" class="white-text mb-4" href="https://www.instagram.com/chacarabelavistapalmas/" mdbWavesEffect>Instagram</a>

  </div>

</div>
<!-- Jumbotron -->