<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark cyan lighten-3" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#home">HOME</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" href="#noivos" mdbWavesEffect> Noivos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#cronograma" mdbWavesEffect>Cronograma</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#padrinhos" mdbWavesEffect>Padrinhos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#perguntas" mdbWavesEffect>Perguntas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" href="#confirmacao" mdbWavesEffect>Confirmação</a>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<div class="sombras" id="home">
<video width="100%" autoplay loop>
    <source rel="preload" src="./assets/video.mp4" type="video/mp4">
  </video>
</div>
<div class="container">
  <br>
  <div>
    <div style="text-align:center" id="noivos">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
        <img src="./assets/noivosCompleto.png" width="75%">
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="w-75 p-3">
        <div class="row">
          <div class="col"> <img src="./assets/ela.png" width="8%"> </div>
          <div class="col"> <img src="./assets/ele.png" width="8%" class="right"> </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            Psicóloga em formação, 20 anos.  
            Apaixonada pela adolescência. Fleumática 
            zen, mas multitarefas. Trabalha com língua 
            inglesa, ama conhecer as culturas através 
            dos seus idiomas. Adora artesanato e 
            trabalhos manuais. 
          </div>
          <div class="col" style="text-align:right">
            Pastor de jovens e adolescentes, 27 anos. Professor de Educação Física, (Licenciatura em 
            Ed. Física, 2017), apaixonado por seus alunos. Sanguíneo de tudo, ama a arte circense e 
            acredita profundamente no discipulado 
            como ferramenta de transformação.          
          </div>
        </div>
        <br>
        <div style="text-align:center"> <img src="./assets/nossa.png" width="20%"> </div>
        <br>
        <div>
          <p style="text-align: justify">
            Se conheceram em 2014, através da irmã da noiva. Ele lecionava no colégio Batista, Mileny 
            estudava lá, daí nasceu uma amizade. O primeiro contato dos noivos mesmo se deu através de 
            uma ligação: Betinho queria saber como presentear Mileny, então foi investigar com a irmã.  
            Seguiram-se conversas sobre as coisas de Deus, ele e lá estava a (futura) noiva sendo coruja 
            e interessando-se pelo ouvia. Eles prosseguiram em se conhecer, e Deus estava no processo. 
            Muito ensino, cura, salvação, provas com Deus e muita alegria moldaram esse relacionamento, 
            que, com o passar dos anos, se concretiza aqui.
          </p>
        </div>
        <br>
        <div style="text-align:center"> <img src="./assets/nossoDia.png" width="13%"> </div>
        <br>
        <div>
          <p style="text-align: justify">
            Nossa cerimônia será ao ar livre, em um lugar que amamos, que é símbolo de beleza da
            nossa cidade. Começaremos à tarde, com uma vista especial e terminará ao pôr do sol.
            Vamos comemorar com nossos amigos e famílias, em um tempo de muita diversão,
            comes e bebes, fotos e dança.
            Logo após, das 19 às 20 horas celebraremos o culto da Rede Re9. Todos estão
            convidados! Garanta sua presença através do nosso mecanismo de confirmação online,
            assim poderemos gerar uma lista que nos ajudará a preparar tudo melhor. Não fique de
            fora!
          </p>
        </div>
        <div style="text-align:center"> <img src="./assets/festa.png" width="100%"> </div>
      </div>
    </div>
    
  </div>
  <hr>
  <div style="text-align:center" id="cronograma">
    <img src="./assets/cronograma.jpeg"> 
  </div>
  <hr>
  <div id="padrinhos">
    <div class="d-flex justify-content-center">
      <div class="w-75 p-3">
        <div class="row" >
          <div class="col " style="text-align:center">
            <img src="./assets/padrinhos.png" width="40%">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col sombras padding">
            <img src="./assets/padrinhos/fotos/nortonEsonia.jpeg" width="20%" class="right rounded-circle padding">
            <img src="./assets/padrinhos/nortonEsonia.png" width="35%" class="right-01">
          </div>
        </div>
        <div class="row">
          <div class="col sombras padding">
            <img src="./assets/padrinhos/fotos/rodrigoEdeine.png" width="20%">
            <img src="./assets/padrinhos/rodrigoEdenie.png" width="48%" class="left-01">
          </div>
        </div>
        <div class="row">
          <div class="col sombras padding">
            <img src="./assets/padrinhos/fotos/irisEbrenda.png" width="20%" class="right">
            <img src="./assets/padrinhos/irisEbranda.png" width="48%" class="right-01">
          </div>
        </div>
        <div class="row">
          <div class="col sombras padding">
            <img src="./assets/padrinhos/fotos/limaEandreia.png" width="20%">
            <img src="./assets/padrinhos/limaEandreia.png" width="48%" class="left-01">
          </div>
        </div>
        <div class="row">
          <div class="col sombras padding">
            <img src="./assets/padrinhos/fotos/taynanEangelita.png" width="20%" class="right">
            <img src="./assets/padrinhos/taynanEangelita.png" width="35%" class="right-01">
          </div>
        </div>
        <div class="row">
          <div class="col sombras padding">
            <img src="./assets/padrinhos/fotos/andreElady.png" width="20%">
            <img src="./assets/padrinhos/andreEleide.png" width="48%" class="left-01">
          </div>
        </div>
        <div class="row">
          <div class="col sombras padding">
            <img src="./assets/padrinhos/fotos/pauloEgeli.png" width="20%" class="right">
            <img src="./assets/padrinhos/pauloEgeli.png" width="48%" class="right-01">
          </div>
        </div>
        <div class="row">
          <div class="col sombras padding">
            <img src="./assets/padrinhos/fotos/willyEwalkiria.png" width="20%">
            <img src="./assets/padrinhos/willyEwal.png" width="48%" class="left-01">
          </div>
        </div>
        <div class="row">
          <div class="col sombras padding">
            <img src="./assets/padrinhos/fotos/andersonEjordanha.png" width="20%" class="right">
            <img src="./assets/padrinhos/jordanhaEanderson.png" width="48%" class="right-01">
          </div>
        </div>
      </div>  
    </div>
  </div>

  <hr>
  <div style="text-align:center" id="perguntas">
    <div class="col " style="text-align:center">
      <img src="./assets/perguntas.png" width="20%">
    </div>
    <div class="d-flex justify-content-center">
      <div class="w-75 p-3"> 
        <div class="row">
          <p><b>Hotéis?</b></p>
        </div>
        <div class="row">
          <p style="text-align:justify"> Temos duas recomendações de hotéis pra você que vem de fora. Tanto a casa
            dos noivos quanto o local da cerimônia são perto da Rodoviária, por isso, caso você
            prefira buscar por outras opções, sugerimos que não seja muito longe.  </p>
        </div>
        <div class="row">
          <div class="col">
            <mdb-card>
              <div class="view rgba-white-slight waves-light zoom" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="http://www.hotelitalian.com.br/img/gallery/pic%20(1).jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Italian Palace Hotel</h4>
                </mdb-card-title>
                <br>
                <!--Text-->
                <mdb-card-text style="text-align: left"> <b>Endereço: </b>Av. Joaquim Teotônio Segurado, 1201, Q. 402 sul, lote 19, Cnj. 1.<br>
                    <b>Valor diária pra:</b> <br>
                    <b>Quarto Individual:</b> $105,00 <br>
                    <b>Quarto duplo:</b> $135,00 <br>
                    <b>Quarto triplo:</b> $190,00 <br>
                    <b>Telefone pra reservas:</b>
                    63 3219 1100                    
                </mdb-card-text>
                <a href="http://www.hotelitalian.com.br" mdbBtn color="primary" mdbWavesEffect>Visitar Site</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col">
            <mdb-card>
              <div class="view rgba-white-slight waves-light zoom" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="./assets/select.jpg" alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Select Hotel</h4>
                </mdb-card-title>
                <br>
                <!--Text-->
                <mdb-card-text style="text-align: left"> <b>Endereço:</b> Quadra 102 sul, av. Ns 2, conjunto 2, lote 2. <br>
                <b>Valor diária pra:</b> <br>
                <b>Quarto duplo:</b> $210,00 <br>
                <b>Quarto triplo solteiro:</b> $280,00 <br>
                <b>Telefone pra reservas:</b>
                  63 33223333
                </mdb-card-text>
            
                <a href="https://www.selecthotelpalmas.com" mdbBtn color="primary" mdbWavesEffect>Visitar Site</a>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
        <br>
        <div class="row">
          <p><b>Crianças podem ir? </b></p>
        </div>
        <div class="row">
          <p style="text-align:justify"> Seeeem dúvida sim! O Senhor amou tanto os pequeninos que os
            quis por perto, e Deus sabe que eles fazem parte da nossa vida de uma maneira super
            especial, e nós não conseguiríamos passar nosso dia sem eles! Então, prepararemos um
            espaço para as pessoinhas. </p>
        </div>
        <div class="row">
          <p><b>O que vestir?</b></p>
        </div>
        <div class="row">
          <p style="text-align:justify">  Gostaríamos que todos estivessem confortáveis pra curtir cada momento
            de diversão que planejamos, então, não use nada muito formal. Sinta-se a vontade,
            saltos altos e ternos não são obrigatórios. </p>
        </div>
        <img style="text-align: center" src="./assets/roupas.png" width="100%">
        <br>
        <br>
        <div class="row">
          <p><b>Posso trazer +1?</b></p>
        </div>
        <div class="row">
          <p style="text-align: justify"> Nossa cerimônia começará às 16:30, e queremos muito que nossos
            amigos estejam todos presentes. Após a cerimônia, celebraremos um culto com a rede
            de Jovens então todos são bem vindos! Porém, como nos preocupamos para que tudo
            seja organizado, precisamos das confirmações de presença, sua e do seu convidado. </p>
        </div>
        <div class="row">
          <p><b>Fotos?</b></p>
        </div>
        <div class="row">
          <p style="text-align: justify">  Vamos amar que você tire muitas fotos e nos ajude a eternizar cada momento de
            diversão e emoção. Compartilhe seus registros com a gente! Nossas hashtags são
            #BetinhodaEms e #EmsdoBetinho. </p>
        </div>
        <div class="row">
          <p><b>Haverá um transporte para/da igreja? </b></p>
        </div>
        <div class="row">
          <p style="text-align: justify"> Haverá um carro saindo da Nova Chance às
            18:30 com direção à chácara para guiar os interessados no trajeto. </p>
        </div>
    </div>
    </div>
  </div>

  <hr>

  <div style="text-align:center" id="confirmacao">
    <div class="col " style="text-align:center">
      <img src="./assets/confirmacao.png" width="40%">
    </div>
    <br>
    <div *ngIf="botaoApertado == false">
      <div class="row">
        <div class="col">
          <button (click)="trocarBoo(true)" routerLink="confirmacao-individual" class="btn btn-outline-primary">Individual</button>
        </div>
        <div class="col">
          <button (click)="trocarBoo(true)" routerLink="confirmacao-casal" class="btn btn-outline-primary">Casal</button>
        </div>
        <div class="col">
          <button (click)="trocarBoo(true)" routerLink="confirmacao-familia" class="btn btn-outline-primary">Familia</button>
        </div>
      </div>
    </div>    
  </div>
  <div class="container w-75">
    <div *ngIf="botaoApertado == true">
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr>
  <div class="collapse" id="collapseExample">
    <div class="container w-50">
      <router-outlet name="local"></router-outlet>
    </div>
  </div>
 
</div>
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/JvSe"> Joao Vitor Soares</a>
  </div>
</footer>
<!-- Footer -->
  